body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

canvas {
    border: 1px solid #000;
    width: 98%;
    height: 90%; /* Further increased bottom margin to accommodate the button bar on Android */
    margin: 1%;
}
