body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Decreased height to accommodate the button bar on Android */
    background-color: #fff;
    padding-bottom: 20px; /* Increased bottom margin for body */
}

canvas {
    border: 1px solid #000;
    width: 98%;
    height: 90%; /* Further increased bottom margin to accommodate the button bar on Android */
    margin: 1%;
}
